h1 {
  text-align: center;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  text-align: center;
}

.highlight {
   color: red;
 }

.important {
   color: teal;
   font-weight: bold;
 }

.emphasis {
   font-weight: bolder;
 }
 
img {
  width: 350px;
}

.col-4 {
  margin: 8px;
  border: 2px solid black;
  padding: 4px;
}

.col-12 {
  float: right;
  margin: 8px;
  border: 2px solid red;
  padding: 4px;
}